body{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  line-height: 25px;
}
nav{
  position: absolute;
  right: 50%;  
  top: 30px;
}
nav svg {
  color: #000;
  background-color: white;
  width: 80px;
  border-radius:100%;
  padding: 10px;
}
#home {
  background-image: url('https://scontent.ftun15-1.fna.fbcdn.net/v/t1.15752-9/270143424_342529227383112_579403468952571898_n.png?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_ohc=KsEP-TvLiOoAX96h5lX&_nc_ht=scontent.ftun15-1.fna&oh=03_AVJKbyyn80PPIktSBdYNIdEI7h-5Re8zqdmAa8yH5ros4w&oe=61F5071F');
  padding: 3em 0;
  text-align: center;
  filter: grayscale(50%);
  color: #fff;  
  background-repeat: no-repeat;
  background-size: cover;
}
#home h1{
  font-size: 64px;
}

a{
  text-decoration: none;
}

#MusicList {
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.music-card {
  /* margin: 20px 0; */
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0px -40vh 100px #000000f1;
}
.music-card h1{
  transition: all 0.3s ease-in-out;
}
.music-card:hover{
  background-position: 100% 100%;
  box-shadow:         inset 0px -40vh 100px #3d0016; 
}
.music-card:hover h1{
  transform: translateY(-100%);
}
.music-card > div {
  display: flex;
  margin: 10px;
  color:#fff;
  text-decoration: none;
}
.music-card > div a{
  text-decoration: none;
  color:#fff;
}

.music-details {
  height:100vh;
  background-color: #fff;
  -moz-box-shadow:    inset 0px -40vh 100px #000000f1;
  -webkit-box-shadow: inset 0px -40vh 100px #000000f1;
  box-shadow:         inset 0px -40vh 100px #000000f1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFFF;
}

.music-details p {
  max-width: 600px;
}
.music-details > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.music-details svg{
  cursor: pointer;
  color: #FFFF;
}
iframe{
  height: 100% ;
  width: 100% ;
}

#featured {
  height: 100vh;
  background-size: cover;
  color: #FFFF;
  display: flex;
  height: 100vh;
}
.highlighted {
  background-color: #d81b60;
  padding: 5px;
}

.artist {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000;
  
}
.artist img{
  min-width: 50%;
  height: 100vh;
  object-fit: cover;
}

.artist> div{
  margin-left: 25px;
}
.artist h1{
  color : #d81b60;
  font-size : 82px;
}
.artist span span{
  color: rgba(255, 255, 255, 0.282);
}
.artist p{
  
  font-size: large
}
footer {
  text-align: center;
  color: rgb(107, 107, 107);
  padding: 15px;
}

@media only screen and (max-width: 728px) {
  .music-card{
    width: 100vw;
  }
  .music-card{
    -moz-box-shadow:    inset 0px -20vh 100px #000000f1;
    -webkit-box-shadow: inset 0px -20vh 100px #000000f1;
    box-shadow:         inset 0px -20vh 100px #000000f1;
    background-position: 50% 80% !important;
  }
  .music-card:hover{
    -moz-box-shadow:    inset 0px -20vh 100px #3d0016;
    -webkit-box-shadow: inset 0px -20vh 100px #3d0016;
    box-shadow:         inset 0px -20vh 100px #3d0016;
  }
  .music-details{
    height: 100vh;
    padding: 20px;
    background-position: 50% 80% !important;

  }
  .music-card p{
    width: 90%;
  }
  .artist {
    flex-direction: column;
  }
  .artist img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}